{% extends 'makeprofile/base.html' %}

{% block content %}

<!-- statement -->
<div class="panel">
<h1>ユーザプロファイルの作成</h1>
<p>あなたの情報が必要です。</p>
</div>
<!-- /statement -->

<!-- form -->
<form action="{% url 'makeprofile:form' %}" method="post">
<div class="panel tm8">
<h2>コード</h2>
<input type="text" name="code" placeholder="オーナーの指示に従ってください"/>
<h2 class="tm8">あなたの名前</h2>
<input type="text" name="name" placeholder="あなたの名前を入力してください"/>
<button class="tm8">次へ</button>
</div>
{% csrf_token %}
</form>
<!-- /form -->

{% endblock %}
